/*
	xBreadcrumbs (Extended Breadcrumbs) jQuery Plugin
	锟2009 ajaxBlender.com
	For any questions please visit www.ajaxblender.com 
	or email us at support@ajaxblender.com
*/
.returnTxt {
	line-height: 16px;
	font-size: 12px;
	font-weight: bold;
	font-family: helvetica, arial, verdana, sans-serif;
	color: #15498b;
	padding: 4 4 0 2px;
	text-align: center;
}
.returnImg {
	background: url(../images/icons/backButton.gif) no-repeat left center;
	line-height: 16px;
	padding: 4 4 0 2px;
	text-align: center;
}
.xbreadcrumbs {
	position: relative;
	z-index: 2;
	height: 20px;
}
.xbreadcrumbs LI UL { 
	position: absolute;
	float: left;
}
.xbreadcrumbs, .xbreadcrumbs LI, .xbreadcrumbs UL, .xbreadcrumbs UL LI {
	list-style: none;
	margin: 0;
	padding: 0;
}
.xbreadcrumbs { clear: both; }
.xbreadcrumbs, .xbreadcrumbs LI {
	float: left;
}
.xbreadcrumbs UL {
	display: none;
}

/*  Base style of xBreadcrumbs  */
/*  Top Level  */
.xbreadcrumbs {
	width: 100%;
}
.xbreadcrumbs LI {
	padding: 5px;
	font-size: 13px;
	border-right: 1px solid #CECECE;
}
.xbreadcrumbs LI.current {
	border-right: none;
}
.xbreadcrumbs LI A {
	font-size: 13px;
	color: #666666;
	text-decoration: none !important;
}
.xbreadcrumbs LI A:HOVER, .xbreadcrumbs LI.hover A {
	color: #2c4674;
}
/*  Top Level - Current Page  */
.xbreadcrumbs LI.current A {
	color: #333333;
	/*font-weight: bold;*/
}
/*  Sub-level  */
/*//鼠标悬停当前节点，兄弟节点的样式，默认小黑块
.xbreadcrumbs LI UL {
	padding: 3px;
	background: #FFF;
	font-size: 12px;
	width: 200px;
	border: 1px solid #666666;
	top: 25px;
	overflow-y: auto;
	max-height: 400px;
}*/
.xbreadcrumbs LI UL LI {
	float: left;
	width: 100%;
	border-right: none;
	height: auto;
}
.xbreadcrumbs LI UL LI A {
	text-decoration: none;
	color: #2c4674 !important;
	display: block;
	padding: 4px;
	border-bottom: 1px dotted #666666;
}
.xbreadcrumbs LI UL LI:last-child A {
	border-bottom: none;
}
.xbreadcrumbs LI UL LI A:HOVER {
	color: #ff9900 !important;
    
}

.xbreadcrumbs SPAN.SC {
        background: url(../images/icons/icon_scorecards.gif) no-repeat left center;
        padding-left: 20px;
}
.xbreadcrumbs SPAN.KPI {
        background: url(../images/icons/icon_metrictypes.gif) no-repeat left center;
        padding-left: 20px;
}
.xbreadcrumbs SPAN.SM {
        background: url(../images/icons/icon_strategy.gif) no-repeat left center;
        padding-left: 20px;
}

.xbreadcrumbs SPAN.ORG{
        background: url(../images/icons/house.png) no-repeat left center;
        padding-left: 20px;
}
.xbreadcrumbs SPAN.ROLE {
        background: url(../images/icons/icon_diagram_def.gif) no-repeat left center;
        padding-left: 20px;
}
.xbreadcrumbs SPAN.RISK {
        background: url(../images/icons/icon_result_pdf.gif) no-repeat left center;
        padding-left: 20px;
}
.xbreadcrumbs SPAN.PROCESS {
        background: url(../images/icons/pictures.png) no-repeat left center;
        padding-left: 20px;
}
.xbreadcrumbs SPAN.MYFOLDER {
        background: url(../images/icons/new_group_view.gif) no-repeat left center;
        padding-left: 20px;
}
.xbreadcrumbs SPAN.DEPARTMENTFOLDER {
        background: url(../images/icons/new_group_view.gif) no-repeat left center;
        padding-left: 20px;
}
.xbreadcrumbs SPAN.ALLMETRICKPI {
        background: url(../images/icons/icon_summary.gif) no-repeat left center;
        padding-left: 20px;
}
.xbreadcrumbs#breadcrumbs-3 LI {
    border-right: none;
    background: url(../images/resultset_next.png) no-repeat right center;
    padding-right: 20px;
    padding-left: 2px;
}
.xbreadcrumbs#breadcrumbs-3 LI.current { background: none; }
.xbreadcrumbs#breadcrumbs-3 LI UL LI { background: none; padding: 0;  }